/* CSS stylesheet */
center {
    text-align: -webkit-center;
}

div {
    font-family: arial,sans-serif;
}

a {
    color: black;
    text-decoration: None;
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 75px;
}

.bar{
    display:flex;
}

.bar-left{
    justify-content: flex-start;
    align-items: center;
}

.bar-right{
    justify-content: flex-end;
    align-items: center;
}

#top-link{
    font-family: arial, sans-serif;
    font-size: 14px;
}
.search__main{
    width: auto;
    height: 140px;
}

#searchform{
    margin: 0 32px;
}

.search__outer{
    display: flex;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    padding: 5px 8px 0 16px;
}

.search__inner{
    display: flex;
    flex: 1;
    width: auto;
}

.search__inner-left{
    display: flex;
    align-items: center;
}

.search__inner-center{
    display: flex;
    flex: 1;
}

.search__inner-right{
    display: flex;
    align-items: center;
}

.search__mic-logo{
    height: 24px;
    width: 24px;
}

.search__search-logo{
    height: 24px;
    width: 24px;
    fill: grey;
}

.search__box{
    display:flex;
    flex: 100%;
}

svg{
    height: 100%;
    width: 100%;
}